*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
}


@font-face {
    font-family: kamerik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}
@font-face {
    font-family: merriweather-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}

header{
    background-color: black;
    color: white;
    font-family: kamerik-3d;
}

.logo{
    --logo-size: calc(var(--index) * 7.8);
    width: calc(var(--index) * 7.8);
    height: calc(var(--index) * 7.8);
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    top: calc(var(--index) * 2.8);
    left: calc(50% - calc(var(--logo-size) / 2));
}

.layers{
    perspective: 1000px;
    overflow: hidden;
}
.layers__container{
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    will-change: transform;
    transform: rotateX(var(--move-x)) rotateY(var(--move-y));
}
.layers__item{
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layers-1{
    transform: translateZ(-55px) scale(1.06);
}
.layers-2{
    transform: translateZ(80px) scale(0.88);
}
.layers-3{
    transform: translateZ(180px) scale(0.8);
}
.layers-4{
    transform: translateZ(190px) scale(0.8);
}
.layers-5{
    transform: translateZ(300px) scale(0.9);
}
.layers-6{
    transform: translateZ(380px);
}